[submodule "modules/dovecot"]
	path = modules/dovecot
	url = https://github.com/mxhero/puppet-dovecot.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/mxhero/puppet-git.git
